@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 1400px;
    margin: 0 auto;
}


h1{
    background: #cdcdcd;
    text-align: center;
    padding: 10px;
}

section{
    border: 2px solid #666;
    padding: 10px;
}

.about-me{
    margin-bottom: 40px;
}

section h3{
    text-transform: uppercase;
}